//- extends layout
//- 
//- block content
//-   h1= title
//- 
//- 
//- 
//-   section.insert
//-     h3 Update data
//-     form(action="/update", method="post")
//-       div.input
//-         label(for="id") ID
//-         input(type="text", id="id", name="id")
//-       div.input
//-         label.title(for="title") Title
//-         input(type="text", id="title", name="title")
//-       div.input
//-         label.content(for="title") Content
//-         input(type="text", id="content", name="content")
//-       div.input
//-         label.author(for="title") Author
//-         input(type="text", id="author", name="author")
//-       button(type="submit") Update
